.descriptionList {
  width: 100%;
  margin: 20px auto;

  .MuiAccordionSummary-root {
    height: 80px; /* Increase the height of the accordion summary */
    min-height: 80px;
  }

  .non-expandable {
    pointer-events: none;

    .MuiAccordionSummary-root {
      cursor: default !important;
    }
  }

  .accordion-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .accordion-item {
      flex: 0 0 calc(33.333% - 10px); // Three items per line
      background-color: #FAFAFA;
      margin: 0 5px 0 0;
      padding: 20px;
      box-sizing: border-box;
      text-align: left;

      border-radius: 0.25rem;
    }
  }
}
